
h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

ul {
    overflow: hidden;
    margin: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.hyperlinks {
    text-align: center;
    display: block; 
}

#main-page:hover {
    transition: color 0.1s;
    color: white;
}

.header ul {
    list-style-type: none;
}

.header li {
    float: left;
    transition: background-color 0.1s;
    border-radius: 50px;
}

.header li:hover {
    background-color: rgba(64, 78, 237, 1);
}

.header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    
}

#list {
    display: block;
}

#list li {
    margin-bottom: 8px;
}

a {
    color: #5865F2;
    text-decoration: none;
}

.main {
    width: 70%;
    display: block;
    margin: auto;
}

.main p, li {
        text-align: left;
        color: white;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Public Sans', sans-serif;
}

#computer {
    float: left;
    margin-right: 20px;
    margin-bottom: 300px;
}

.banner, #banner {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    border-style: solid;
    border-color: rgb(44, 47, 51);
    border-width: 10px;
    border-bottom-width: 30px;
}

#footer {
    font-size: 12px;
}

p {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Public Sans', sans-serif;
}