     #grad {
      background-image: linear-gradient(rgb(15, 24, 110), rgb(85, 42, 124));
    }

    body {
        background-color: rgb(4, 8, 27);
    }

    nav {
      text-align: right;
      font-family: 'Familjen Grotesk', Tahoma, Geneva, Verdana, sans-serif;
  }

  a {
      color:white;
      text-decoration-line: none;
      font-size: 18px;
      font-weight: bold;
      margin-right: 20px;
  }

  h1 {
    color: white;
    text-align: center;
    font-family: 'Space Grotesk', Tahoma, Geneva, Verdana, sans-serif;
  }

  h3 {
    color: white;
    text-align: center;
    font-family: 'Space Grotesk', Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    font-family: 'Familjen Grotesk', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
      opacity: 1;

  }

  html {
      height: 100;
  }

    .column.middle {
      width: 50%;
    }

    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centermized {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 160px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  box-shadow: 0px 0px 8px #000000;
    }

.imagery {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}